<app-header>About</app-header>

<ion-content>

	<ion-card>
		<ion-item href="https://karpolan.com">
			<ion-thumbnail slot="start">
				<img src="/assets/about-karpolan.jpg">
			</ion-thumbnail>
			<ion-label text-wrap>
				Application created by
				<b>Anton Karpenko</b> better known as <b>KARPOLAN</b> -
				software and electronics engineer, serial entrepreneur.
			</ion-label>
		</ion-item>

		<ion-item lines="none" href="https://ionicframework.com/">
			<ion-thumbnail slot="start">
				<img src="/assets/about-ionic.jpg">
			</ion-thumbnail>
			<ion-label text-wrap>
				Built with <b>Ionic Framework</b> -  
				mobile apps for Android and iOS 
				using the same source code (HTML, CSS, JavaScript).
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Hello, I am</ion-card-subtitle>
			<ion-card-title>Anton Karpenko</ion-card-title>
			<ion-card-subtitle>Software Engineer</ion-card-subtitle>
		</ion-card-header>
	
		<ion-card-content>
			I participated in the creation of many public products, computer games, mobile applications, various
			libraries and tools for other software developers. I have been coding since 1994, and still love it :)
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Follow me on any </ion-card-subtitle>
			<ion-card-title>Social Network</ion-card-title>
		</ion-card-header>
	
		<ion-card-content>
			<ion-item href="https://github.com/karpolan">
				<ion-icon name="logo-github" slot="start"></ion-icon>
				<ion-label>GitHub</ion-label>
			</ion-item>
			<ion-item href="https://www.linkedin.com/in/karpolan/">
				<ion-icon name="logo-linkedin" slot="start"></ion-icon>
				<ion-label>LinkedIn</ion-label>
			</ion-item>
			<ion-item href="https://www.facebook.com/KarpolanOfficial/">
				<ion-icon name="logo-facebook" slot="start"></ion-icon>
				<ion-label>Facebook</ion-label>
			</ion-item>
			<ion-item href="https://twitter.com/karpolan">
				<ion-icon name="logo-twitter" slot="start"></ion-icon>
				<ion-label>Twitter</ion-label>
			</ion-item>
			<ion-item href="https://www.youtube.com/user/karpolan">
				<ion-icon name="logo-youtube" slot="start"></ion-icon>
				<ion-label>YouTube</ion-label>
			</ion-item>
			<ion-item href="https://www.instagram.com/karpolan/">
				<ion-icon name="logo-instagram" slot="start"></ion-icon>
				<ion-label>Instagram</ion-label>
			</ion-item>

		</ion-card-content>
	</ion-card>

</ion-content>