<app-header>Contact</app-header>

<ion-content>

	  <!-- Contact form -->
		<ion-card>
			<ion-card-header>
				<ion-card-title>Contact Form</ion-card-title>
				<ion-card-subtitle>Feel free to ask any questions</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content>
				<app-form></app-form>
			</ion-card-content>
		</ion-card>

	  <!-- Social Networks -->
		<ion-card>
			<ion-card-header>
				<ion-card-title>Social networks</ion-card-title>
				<ion-card-subtitle>Follow to discuss any topic</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content>
				<ion-item href="https://www.facebook.com/KarpolanOfficial/">
					<ion-icon name="logo-facebook" slot="start"></ion-icon>
					<ion-label>Facebook</ion-label>
				</ion-item>
				<ion-item href="https://twitter.com/karpolan">
					<ion-icon name="logo-twitter" slot="start"></ion-icon>
					<ion-label>Twitter</ion-label>
				</ion-item>
				<ion-item href="https://www.linkedin.com/in/karpolan/">
					<ion-icon name="logo-linkedin" slot="start"></ion-icon>
					<ion-label>LinkedIn</ion-label>
				</ion-item>
				<ion-item href="https://www.youtube.com/user/karpolan">
					<ion-icon name="logo-youtube" slot="start"></ion-icon>
					<ion-label>YouTube</ion-label>
				</ion-item>
		
			</ion-card-content>
		</ion-card>
	
	
</ion-content>
